<!Doctype html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Node Tree</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="tree.css"/>
</head>
<body>
        <div id='mainController' ng-controller="MyController">
            <h1>Tree Structure - Personal Project</h1>
            <div id="menu">
                <button class = 'btn btn-default'>Export to JSON</button>
                <button class = 'btn btn-default'>Save Local</button>
                <button class = 'btn btn-default'>Load from Local</button>
                <button class = 'btn btn-default'>Load from JSON</button>
            </div>
            <div id="instructions">Use enter to create the nodes. Save to local after you are done. you may use Export to JSON for the rest</div>
            <div id="content">
                <div class="checkbox">
                    <label>
                        <input ng-model="showInputBoxes" type="checkbox"> Show Input Boxes
                    </label>
                </div>
                <div id="nodeTree">
                    <div ng-click="expand()">Root Node <span ng-hide="addNode">[+]</span><span ng-hide="!addNode">[-]</span></div>
                    <ul id="myNodeTree" ng-show="showNodes" my-node={{nodeName}}></ul>
                    <input id='newNodeInput' type="text" name="input" ng-hide="hideInputBox" ng-model="nodeName" ng-keypress="watchInput($event, nodeName)">
                </div>
            </div>
        </div>
        <script src="bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="tree.js" type="text/javascript"></script>
</body>
</html>